# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [ ]:
#for keyword, counter/iterator, in keyword, object
#for i in range(10):

name="Ryan"
#for letter in name:
#    print(letter)

#print(len(name))
#print(len(name)):
#  print(name[i])

print(name[4])

##### Using 'in' keyword

In [9]:
for i in range(15):
    print('i**2')
name="barney"
name2="baby bop"
for letter in name:
    if letter in name2:
            print("oh neat, same letter")
else:
    print("not the same letter")
        
    print(name)
    
    
    
    
    #in is what accesses the items in an iterable
    for i in range(15):
        print (1**2)

i**2
i**2
i**2
i**2
i**2
i**2
i**2
i**2
i**2
i**2
i**2
i**2
i**2
i**2
i**2
oh neat, same letter
oh neat, same letter
oh neat, same letter
not the same letter
barney
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

##### Continue Statement

In [19]:
for i in range(20):
    print(i)
    
#will continue to the next iteration
for i in range(20):
    if i == 5 or i == 6:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [20]:
for i in range(10):
    print(i)

# will break out of current loop
print("\n")
for i in range(10):
    if i ==6:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5

##### Pass Statement

In [44]:
# mostly used as a placeholder, and will continue on same iteration
for i in range(20):
    pass #todo: come do things with this later

#def my_func(2):
   pass


#def my_func2()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

##### Double For Loops

In [36]:
for i in range(5):
    for j in range(5):
        print("i = ", "j = ")
    if i==j:
print(j)

IndentationError: expected an indented block after 'if' statement on line 4 (1513415923.py, line 5)

In [37]:
for i in range(5):
    for j in range(5):
        print(i + j)

SyntaxError: incomplete input (2824941137.py, line 3)

In [38]:
my_string = "Hello my name is Ryan. This is a cool class This is cool Have a nice day cool"
my_dict = {}

for char in my_string.split():
    if char not in my_dict:
        my_dict[char] = 1
    else:
        my_dict[char] += 1

print(my_dict)

print(my_dict.values())

{'Hello': 1, 'my': 1, 'name': 1, 'is': 3, 'Ryan.': 1, 'This': 2, 'a': 2, 'cool': 3, 'class': 1, 'Have': 1, 'nice': 1, 'day': 1}
dict_values([1, 1, 1, 3, 1, 2, 2, 3, 1, 1, 1, 1])

### While Loops

In [42]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0

while counter < 11:
    counter += 1
    print(counter)
   

    
print("\n")

num = 0
while num < 15:
    print(num**2)
    num += 1

In [50]:
num = 0

while num < 10:
   
    num +=1
    print(num)

1
2
3
4
5
6
7
8
9
10

##### looping 'While True'

In [10]:
# true as a condition for while loop to run
game_over = False
while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

In [46]:
game = True


my_list = [1, 2, 3, 4, 5, 6]
index = 0
while game:   
    if my_list[index] == 4:
        game = False
    print(my_list[index])
    index += 1

1
2
3
4

##### While & For Loops Used Together

In [11]:
j = 0

while j < 10:
    print("\nWhile Loop Iteration: " + str(j))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
        
    j += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 5
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 6
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 7
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 8
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 9
For Loop Iteration: 0
For Loop Iteration: 1

##### The Range Function

In [12]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given
for i in range(10): #stop
    print(i)
print("\n")
for i in range(1, 10): #start, stop
    print(i)
print("\n")
for i in range(1, 10, 3): #start, stop, step
    print(i)

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9


1
4
7

### String Manipulation Exercise

In [13]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

In [29]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
for name_ in names:
print(name_.strip().title())

IndentationError: expected an indented block after 'for' statement on line 2 (2944123190.py, line 3)

In [31]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
for user_name in names:
print(user_name.strip().title())

IndentationError: expected an indented block after 'for' statement on line 2 (1378291280.py, line 3)

## Lists

##### Declaring Lists

In [32]:
our_list = [] #<-- empty list

names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
numbers = [1, 2, 34, 4, 5, 6, 10]

print(names)

TypeError: 'list' object is not callable

##### Indexing a List

In [33]:
# [start: stop: step] --> last item [-1]
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]

#single index
print(names[2])

# Print Starting at index 1 and going to the end of the list
print(names[1:])

#Print starting at the beginning of the list and go to the specified index
print(names[:2])

#Print starting at index 1 and stepping by 2
print(names[1::2])

#print starting at the back and going to the front
print(names[::-1])

TypeError: 'list' object is not callable

### List Methods

##### .append()

In [34]:
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
names.append('Alex')
print(names)
names.append('Kayla')
print(names)
names.append(2)
print(names

SyntaxError: incomplete input (3057696509.py, line 7)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted', 'Bill', 'Ted']

##### .insert()

In [35]:
#our_list.insert(index, value)
names.insert(3, "Sam")
print(names)

names.insert(4, 10)
print(names)

new_data = [5, 6, 1, 10, 11, 334, 1341, 1515]

for i in range(len(new_data)):
    if i == 3:
        new_data.insert(i, names[i])
print(new_data)

TypeError: 'list' object is not callable

##### .pop()

In [36]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

bye_bye_name = names.pop(3)
print(bye_bye_name)

print(names)

print(names.pop())
print(names)

TypeError: 'list' object is not callable

##### .remove()

In [37]:
# value to be removed, not an index
names = ['Bob', 'Bob', 'Billy', 'Berry', "Bertha", 'Bob', 'Bert']

print(names)

while 'Bob' in names:
    names.remove('Bob')
print(names)

TypeError: 'list' object is not callable

In [38]:
names = ['Bob', 'Billy', 'Berry', "Bob", "Bertha", 'Bob', "Bob", 'Bert']

for name in names:
    if name == "Bob":
        names.remove(name)
print(names)

TypeError: 'list' object is not callable

### Working With Lists

##### del()

In [57]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully
del(names[0])
print(names)

SyntaxError: cannot delete literal (13714010.py, line 6)

##### min()

In [39]:
# return the smallest item in a list
numbers = [3, 6, 1, 5, 10, -12]
print(min(numbers))

names = ["Ryan", "Alex", "Zoop", "Xenry"]
print(min(names))

TypeError: 'list' object is not callable

##### max()

In [63]:
# returns largest item in a list

print(max(numbers))

print(max(names))

10
Zoop

##### sum()

In [66]:
# return the sum of all numbers in a list

print(sum(numbers))

13

##### sorted()

In [40]:
#sorted will return a new sorted list, create a new variable
numbers = [3, 6, 1, 5, 10, -12]

print(sorted(numbers))
sorted_nums = sorted(numbers)
print(sorted_nums)

TypeError: 'list' object is not callable

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [71]:
#.sort() will sort the original list
numbers = [3, 6, 1, 5, 10, -12]
print("Numbers before sort", numbers)
print(numbers.sort())
print("Numbers after sort", numbers)
my_string = "hello"
title_string = my_string.title()
print(title_string)
print(my_string.title())
print(my_string)

Numbers before sort [3, 6, 1, 5, 10, -12]
None
Numbers after sort [-12, 1, 3, 5, 6, 10]
Hello
Hello
hello

##### Copying a List

In [41]:
# [:] copies a list, doesn't alter original'
numbers = [3, 6, 1, 5, 10, -12]
new_list = numbers[:]

print(numbers)
print(new_list)

TypeError: 'list' object is not callable

##### Looping Through Lists

In [42]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]
#looping by index
for i in range(len(names)):
    print(names[i])
    
print("\n")
    
#looping by value for each item in the list
for name in names:
    print(name)
    
#Return the index of Leia Organa

for i in range(len(names)):
    if names[i] == "Leia Organa":
        print(i)
        
#enumerate
for i, v in enumerate(names):
    if v == "Leia Organa":
        print(i)
        
for i, v in enumerate(names):
    print(i, v)
    
#(ヘ･_･)ヘ┳━┳     (╯‵□′)╯︵┻━┻

TypeError: 'list' object is not callable

##### 'in' keyword

In [43]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]

if "Nate" in names:
    print("Ranger")
else: 
    print("Not a ranger")

TypeError: 'list' object is not callable

In [44]:
# for name in names:
#     if name[0] == "T":
#         print("IIIIIIITS TENZIN")
#     else:
#         print("tis not")

for name in names: 
    if "T" in name[0]:
        print("Tenzin")
    else:
        print("nope")

TypeError: 'list' object is not callable

In [45]:
for i in range(len(names)):
    for j in range(len(names[i])):
        print(names[i][j])

TypeError: 'list' object is not callable

##### 'not in' keyword

In [46]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
if "Frederick" not in names:
    print("Frederick is not a Ranger, booooo Frederick")

TypeError: 'list' object is not callable

##### Checking an Empty List

In [47]:
l_2 = []
l_3 = None
if l_2 == []:
    print("That is an empty list. Would ya just look at it")
    
if l_3 == l_2:
    print("yes")
else: 
    print("no")

TypeError: 'list' object is not callable

##### Removing Instances with a Loop

In [48]:
#while, remove
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
while "Ryan" in names:
    names.remove("Ryan")
print(names)
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
#for loop, remove
for name in names: 
    if name == "Austin":
        names.remove("Austin")
print(names)

TypeError: 'list' object is not callable

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [49]:
list_=['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin' 'bob']
unique_list= list(set(list_))
print(unique_list)

TypeError: 'list' object is not callable

tucker sam deliah connor bob evan max 2 3 4 kevin

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

['t', 's', 'd', 'e']
['t', 's', 'd', 'e']

['sam', 'sean']
['sam', 'sean']

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

[0, 1, 4, 3, 16, 125, 36, 7, 64, 9]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
2
6
tuple length 3
1
2
3
4
5
6

##### sorted()

In [142]:
tup = (20, 5, 1, 10, 95, 123)

print(sorted(tup))

some_list = [5, 12, 654, 234, 7643, 34]

# combine_list = some_list + tup

new_tup = tuple(some_list)

new_new_tup = new_tup + tup
print(new_new_tup)

[1, 5, 10, 20, 95, 123]
(5, 12, 654, 234, 7643, 34, 20, 5, 1, 10, 95, 123)

In [149]:
# List Concatenation

my_list = [1, 2, 3, 4, 5]
my_list2 = [2, 3, 4, 5, 13, 12, 16, 1234]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 13, 12, 16, 1234]

##### Adding values to a Tuple

In [148]:
print(tup)

tup = tup + (6, )
print(tup)

(20, 5, 1, 10, 95, 123, 5, 5, 5)
(20, 5, 1, 10, 95, 123, 5, 5, 5, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [50]:
alist = [1,11,14,5,8,9]
filtered_list = [num for num in alist if num < 10]
print(filtered_list)

TypeError: 'list' object is not callable

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [ ]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

merge_list = 1_1 + 1_2
merged_list.sort()

print(merged_list)

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [51]:
for i in range(1, 15):
    square.append(i ** 2)

print(square)

NameError: name 'square' is not defined

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [52]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']
filter_list=[name.strip().title() for name i  names_list if name.strip().lower().startswith("a")]

print(filtered-LIST)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1292948234.py, line 3)

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [53]:
for num in range (2, 101):
    for i in range(2, num):
        if (num % i)== 0:
            break
        else:
            print(num)

TypeError: 'list' object is not callable